:root{
    --dough: #fffcef;
    --brown: #882424;
    --pink: #fa8484;

    --yellow: #ffab4d;

    --chocolate: #301515;
    --gray: #ccc0a6;
    --red: #ed6a55;

    --h1: 14.6rem;
    --h2: 3.8rem;
    --h4: 2.8rem;
    --h5: 2.25rem;
}

body{
    background-color: var(--primary);
}

.light{
    --primary: var(--dough);
    --secondary: var(--brown);
    --tertiary: var(--pink);
}
.dark {
    --primary: var(--chocolate);
    --secondary: var(--gray);
    --tertiary: var(--red);
}

.card {
    background-color: var(--tertiary);
    box-shadow: 20px 20px var(--secondary);
}

.all, .cheap, .expensive, .european, .asian, .button {
    background-color: var(--yellow);
    box-shadow: 5px 7px var(--pink);
    border: 3px solid var(--brown);
    color: var(--brown);
}

h1 {
    font-size: var(--h1);
    color: var(--secondary);
}
h2 {
    font-size: var(--h2);
}
h4 {
    font-size: var(--h4);
}
h5 {
    font-size: var(--h5);
}

h2, h4, h5 {
    color: var(--secondary);
}